FORMAT: 1A
HOST: http://onebox-venueaccess-api.getsandbox.com/

# onebox-venueaccess-api

API to manage ticketing white and black lists to let access the venue or deny it.

To do so, we have used a **API Blueprint** standard, **apiary** as an online editing and mocking tool, **aglio** to document it and **getsandbox** as a sandbox provider:
+ [API Blueprint](https://apiblueprint.org/)
+ [apiary.io](http://docs.oneboxvenueaccessapi.apiary.io/)
+ [getsandbox.com](http://onebox-venueaccess-api.getsandbox.com/)
+ [aglio](https://github.com/danielgtaylor/aglio)
+ [github](https://github.com/joliva-ob/onebox-venueaccess-api)
+ [onebox-developer](http://developer.oneboxtickets.com/venueaccess-api/)

## OAuth2 Requests [/oauth/token]

### OAuth2 Request Access Token [POST]

You will need to use OAuth to access the API.  Write to us at api-support@oneboxtm.com.  We will give you a client ID and client secret. Use this as shown in the following call in order to retrieve a token.
Once you have a token you can use it in all API calls as shown below.

+ Request  (application/json)

        {
            "grant_type": "password",
            "client_id": [CLIENT_ID],
            "client_secret": [CLIENT_SECRET],
            "password": [YOURPASSWORD],
            "username": [YOURUSERNAME]
        }

+ Response 201 (application/json)

        {
            "access_token": "[OAUTH2_TOKEN]",
            "token_type":"bearer",
            "expires_in":7200,
            "refresh_token": "[REFRESH_TOKEN]"
        }

+ Response 400 (application/json)

        {
          "error": "Bad request",
          "error_description": "There was a syntax error, check your params request and try it again."
        }

+ Response 401 (application/json)

        {
          "error": "unauthorized",
          "error_description": "Full authentication is required to access this resource"
        }

## Whitelist tickets collection [/venueaccess-api/v1.0/whitelist/tickets{?id,start_date,end_date,event_id,performance_id,page,page_size,status}]
List all the key data from the tickets filtered by the given parameters.

See below the description of the response fields we consider that need to be explained:

| Response Field                   | Description                             |
|----------------------------------|-----------------------------------------|
| version                          | (Text) Version of the API               |
| href                             | (Text) Url of the API doc               |
| trace_id                         | (Text) unique identifier of the request |
| parameters                       | (Object) Request filtering used         |
| id                               | (Text) Contains the text codified into the bar_code or qr code |

### Whitelist create ticket [POST]

+ Request

      + Headers

            Authorization: Bearer [OAUTH2_TOKEN]
            Accept: application/json

      + Body

            {
                "id": "",
                "status": "",
                "creation_date": "2015-08-05T08:40:51Z",
                "update_date": "2015-08-05T08:40:51Z",
                "created_by": "info@mail.com",
                "update_by": "2015-08-05T08:40:51Z",
                "order_id": "FDSF34R234JKDS",
                "to_be_sent": "2015-08-05T08:40:51Z",
                "type": "BAR_CODE",
                "event_id": 44,
                "performance_id": 1,
                "amount": 432.43,
                "venue_id": 23
            }

+ Response 201 (application/json)

        {
                "id": "fjskfjkadjfk34532423kj5",
                "status": "AVAILABLE",
                "creation_date": "2015-08-05T08:40:51Z",
                "update_date": "2015-08-05T08:40:51Z",
                "created_by": "info@mail.com",
                "update_by": "2015-08-05T08:40:51Z",
                "order_id": "FDSF34R234JKDS",
                "to_be_sent": "2015-08-05T08:40:51Z",
                "type": "BAR_CODE",
                "event_id": 44,
                "performance_id": 1,
                "amount": 432.43,
                "venue_id": 23
         }

+ Response 400 (application/json)

        {
          "error": "Bad request",
          "error_description": "There was a syntax error, check your params request and try it again."
        }

+ Response 401 (application/json)

        {
          "error": "unauthorized",
          "error_description": "Full authentication is required to access this resource"
        }

### Whitelist retrieve tickets [GET]

+ Request

  + Headers

            Authorization: Bearer OAUTH2_TOKEN
            Accept: application/json

+ Parameters
    + id (optional, number) ... Filter by the ticket reference code.
    + start_date (optional, date) ... Filter by starting date (`2015-08-05T08:40:51Z`)
    + end_date (optional, date) ... Filter by final date (`2015-08-05T08:40:51Z`)
    + event_id (optional, text) ... Filter by a given event.
    + performance_id (optional, text) ... Filter by a given event date.
    + page (optional, number) ... Paginate response to the given page number
    + page_size (optional, number) ... Size of the each page requested.
    + status (optional, enum[string])

        Filter by ticket status, available choices are:

        + Members
            + `AVAILABLE` - Indicates that the ticket is ready to be reserved.
            + `RESERVED` - Tickets blocked and ready to be released or confirmed.
            + `CONFIRMED` - Ticket is definetively blocked and ready to be sent.
            + `CANCELLED` - Ticket is marked as non-valid.
            + `SENT` - Ticket is already sended to the venue access control system.

+ Response 200 (application/json)

        {
            "version": "1.0",
            "href": "http://www.oneboxtm.com/venueaccess/v1.0/whitelist/",
            "trace_id": "94abc26e-173a-4ab2-a71b-863aed20f656",
            "request_date": "2015-08-05T08:40:51Z",
            "channel_id": "int_channel@oneboxtm.com",
            "hits": 2,
            "parameters":
            {
              "id": "",
              "start_date": "",
              "end_date": "",
              "event_id": "",
              "session_id": "",
              "status": "",
              "page": 2,
              "page_size": 10
            },

            "tickets": [
              {
                "id": "fjskfjkadjfk34532423kj4",
                "status": "RESERVED",
                "creation_date": "2015-08-05T08:40:51Z",
                "update_date": "2015-08-05T08:40:51Z",
                "created_by": "info@mail.com",
                "update_by": "2015-08-05T08:40:51Z",
                "order_id": "FDSF34R234JKDS",
                "to_be_sent": "2015-08-05T08:40:51Z",
                "type": "BAR_CODE",
                "event_id": 44,
                "performance_id": 1,
                "amount": 432.43,
                "venue_id": 23
              },
              {
                "id": "fjskfjkadjfk34532423kj5",
                "status": "CONFIRMED",
                "creation_date": "2015-08-05T08:40:51Z",
                "update_date": "2015-08-05T08:40:51Z",
                "created_by": "info@mail.com",
                "update_by": "2015-08-05T08:40:51Z",
                "order_id": "FDSF34R234JKDS",
                "to_be_sent": "2015-08-05T08:40:51Z",
                "type": "BAR_CODE",
                "event_id": 44,
                "performance_id": 1,
                "amount": 432.43,
                "venue_id": 23
              }
            ],

            "links": [
              {
                "name": "next_page",
                "prompt": "Next",
                "rel": "next",
                "href": "/whitelist/tickets?page=3",
                "render": "link"
              },
              {
                "name": "previous_page",
                "prompt": "Bext",
                "rel": "back",
                "href": "/whitelist/tickets?page=1",
                "render": "link"
              }
            ]

          }

+ Response 204 (application/json)

+ Response 400 (application/json)

        {
          "error": "Bad request",
          "error_description": "There was a syntax error, check your params request and try it again."
        }

+ Response 401 (application/json)

        {
          "error": "unauthorized",
          "error_description": "Full authentication is required to access this resource"
        }

### Whitelist ticket modification [PUT]

+ Parameters

    + id (required, string) ... Update a given price id

+ Request

      + Headers

            Authorization: Bearer [OAUTH2_TOKEN]
            Accept: application/json

      + Body

            {
                "id": "fjskfjkadjfk34532423kj5",
                "status": "CANCELLED",
                "creation_date": "2015-08-05T08:40:51Z",
                "update_date": "2015-08-05T08:40:51Z",
                "created_by": "info@mail.com",
                "update_by": "2015-08-05T08:40:51Z",
                "order_id": "FDSF34R234JKDS",
                "to_be_sent": "2015-08-05T08:40:51Z",
                "type": "BAR_CODE",
                "event_id": 44,
                "performance_id": 1,
                "amount": 432.43,
                "venue_id": 23
            }

+ Response 200 (application/json)

        {
                "id": "fjskfjkadjfk34532423kj5",
                "status": "CANCELLED",
                "creation_date": "2015-08-05T08:40:51Z",
                "update_date": "2015-08-05T08:40:51Z",
                "created_by": "info@mail.com",
                "update_by": "2015-08-05T08:40:51Z",
                "order_id": "FDSF34R234JKDS",
                "to_be_sent": "2015-08-05T08:40:51Z",
                "type": "BAR_CODE",
                "event_id": 44,
                "performance_id": 1,
                "amount": 432.43,
                "venue_id": 23
         }

+ Response 400 (application/json)

        {
          "error": "Bad request",
          "error_description": "There was a syntax error, check your params request and try it again."
        }

+ Response 401 (application/json)

        {
          "error": "unauthorized",
          "error_description": "Full authentication is required to access this resource"
        }

### Whitelist ticket cancellation [DELETE]

+ Parameters

    + id (required, string) ... Update a given price id

+ Request

      + Headers

            Authorization: Bearer [OAUTH2_TOKEN]
            Accept: application/json

+ Response 204 (application/json)

+ Response 400 (application/json)

        {
          "error": "Bad request",
          "error_description": "There was a syntax error, check your params request and try it again."
        }

+ Response 401 (application/json)

        {
          "error": "unauthorized",
          "error_description": "Full authentication is required to access this resource"
        }